:root {
  --bulma-body-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.navbar {
  --bulma-navbar-background-color: rgb(72, 207, 173);
  --bulma-navbar-h: 166deg;
  --bulma-navbar-s: 48%;
  --bulma-navbar-l: 55%;
}

// Improve visibility of subtitles and similar text by increasing contrast
h1 small, h2 small, h3 small {
  color: #77778C;
}

.button small {
  color: #2A2A2A;
}

// Making the date smaller improves the episode header when it includes the subtitle
.episode_date {
  font-size: 45%;
}
